{% extends "layout.html" %}
{% block title %}Bus Information{% endblock %}
{% block content %}
{{from BusBoard import BusBoard}}
<div class="container body-content">
    <h2>Bus Information</h2>
    <div>
        <p>You entered postcode <span>{{bus_board.postcode}}</span></p>
         <!--{% for bus_stop in bus_board.bus_stops %}
            <div> Bus Stop: {{bus_stop.name}}</div>
            {%for bus in bus_stop.buses%}
                <div> {{str(bus)}} </div>
            {%endfor%}
            {%endfor%} -->
    </div>
</div>
{% endblock %}
